<!DOCTYPE html>
<html>
<head>
    <title>MikroTik SSH Command</title>
    <!-- Vincula o arquivo CSS externo -->
    <link rel="stylesheet" href="static/css/style.css">  <!-- ou 'static/css/style.css' se estiver em pasta separada -->
</head>
<body>
    <div class="container">
        <form method="POST" action="/send_command">
            <h2>Mikrotik Cloud Config</h2>
            
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="name">Nome do Cliente:</label>
            <input type="text" id="name" name="name" required>
            
            <button type="submit">Enviar Comando</button>
        </form>
        
        <div class="script-box">
            <h2>Script Output</h2>
            {% if script %}
                <textarea id="script-text" readonly>{{ script }}</textarea>
                <button class="copy-btn" onclick="copyToClipboard()">Copiar Script</button>
            {% else %}
                <p>...</p>
            {% endif %}
        </div>
    </div>
    
    {% if command_status %}
    <div class="status-box">
        {{ command_status }}
    </div>
    {% endif %}

    <script>
        // Função para copiar o conteúdo da textarea para a área de transferência
        function copyToClipboard() {
            var copyText = document.getElementById("script-text");
            copyText.select();
            copyText.setSelectionRange(0, 99999); // Para dispositivos móveis
            document.execCommand("copy");
            alert("Script copiado para a área de transferência!");
        }
    </script>
</body>
</html>
